# Python caches
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual envs
.venv/
venv/
env/

# Tool caches
.pytest_cache/
.mypy_cache/
.ruff_cache/
.cache/

# Jupyter
.ipynb_checkpoints/

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Git
.git/
.gitignore

# Docker artifacts
*.log

# IMPORTANT: on N'ignore PAS tests/ (ne rien mettre du type "tests" ici)
