# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.pytest_cache/
.ruff_cache/
.mypy_cache/
.venv/
venv/

# OS
.DS_Store
Thumbs.db

# Env / secrets
.env

# MLflow local artifacts
mlruns/
mlartifacts/

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# Docker
**/docker-data/
